<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>Robca :: Console</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'
        rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- MQTT -->
  <script src="https://unpkg.com/mqtt@2.18.8/dist/mqtt.min.js" type="text/javascript"></script>
</head>

<body>
<!-- Our application root element -->
<div id="console">
  <v-app>
    <v-content>
      <v-container>

        <v-badge color="green" v-show="connected">Connected</v-badge>
        <v-badge color="red" v-show="!connected">Disconnected</v-badge>

        <center>
          <div id="joystick"
               style="width:90%;height:200px;position:relative"></div>
        </center>

        <v-card-text>
          <h6 class="subheading">Joystick</h6>
          <v-layout row wrap>
            <v-flex xs6>
              <v-slider
                  label="H"
                  v-model="control.joystick.h"
                  max="100"
                  min="-100"
                  @change="updateJoystick()"
                  thumb-label
              ></v-slider>
            </v-flex>
            <v-flex xs6>
              <v-slider
                      label="V"
                      v-model="control.joystick.v"
                      max="100"
                      min="-100"
                      @change="updateJoystick()"
              ></v-slider>
            </v-flex>
          </v-layout>

          <h6 class="subheading">Head</h6>
          <v-layout row wrap>
            <v-flex xs6>
              <v-slider
                      label="H"
                      v-model="control.head.h"
                      max="100"
                      min="-100"
                      @change="publish('servo/head-h/ratio', control.head.h)"
                      thumb-label
              ></v-slider>
            </v-flex>
            <v-flex xs6>
              <v-slider
                      label="V"
                      v-model="control.head.v"
                      max="100"
                      min="-100"
                      @change="publish('servo/head-v/ratio', control.head.v)"
              ></v-slider>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-textarea
                box
                label="Speach:"
                auto-grow
                v-model="control.speach.say"></v-textarea>
            <v-btn depressed small color="primary" @click="publish('speach/say', control.speach.say)">send</v-btn>
          </v-layout>

        </v-card-text>
      </v-container>
    </v-content>
  </v-app>
</div>

<!-- Start running your app -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="./nipplejs.min.js"></script>
<script type="text/javascript" src="./console.js"></script>
</body>
</html>